@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h6 {
  position:absolute;
  bottom:0;
  right:0;
  font: bold 1em monospace;
  color: #6c6c6c;
  border-right: .1em solid black;
  width: calc(0.55em * 14);
  width: 23ch;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 8s steps(23, end),
  blink-caret .5s step-end infinite alternate;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
